<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>

    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>


    <main>
        <h1>Hello</h1>

        <div class="container">
            <div class="wrapper">
                <ul class="day-card">
                    <p>Mon</p>
                    <li class="event-card">
                        <p>2 events, click to see more</p>
                    </li>
                </ul>
                <ul class="day-card">
                    <p>Tue</p>
                    <li class="event-card">
                        <p>1 event, click to see more</p>
                    </li>
                </ul>
                <ul class="day-card active">
                    <p>Wed</p>
                    <li class="event-card">
                        <p>event</p>
                    </li>
                    <li class="event-card">
                        <p>event</p>
                    </li>
                    <li class="event-card">
                        <p>event</p>
                    </li>
                </ul>
                <ul class="day-card">
                    <p>Thu</p>
                    <li class="event-card">
                        <p>No events</p>
                    </li>
                </ul>
                <ul class="day-card">
                    <p>Fri</p>
                    <li class="event-card">
                        <p>3 events, click to see more</p>
                    </li>
                </ul>
                <ul class="day-card">
                    <p>Sat</p>
                    <li class="event-card">
                        <p>1 event, click to see more</p>
                    </li>
                </ul>
                <ul class="day-card">
                    <p>Sun</p>
                    <li class="event-card">
                        <p>No events</p>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    
    <!-- Footer -->
    <%- include('partials/footer.ejs') %>
</body>
</html>